<section class="about about--padding">
  <div class="about__container">
    <div class="about__content">
      <div class="about__text-group">
        <div class="about__badge">
          Sobre Nosotros
        </div>
        <h2 class="about__title">
          Quiénes Somos
        </h2>
        <p class="about__description">
          QuakeNet es una startup innovadora que se dedica a empoderar a
          las empresas para que se preparen y mitiguen los riesgos sísmicos.
          Nuestro equipo de expertos en tecnología, ciencia de datos y gestión
          de riesgos trabaja incansablemente para desarrollar soluciones que
          ayuden a nuestros clientes a proteger sus operaciones y a sus
          empleados ante los desastres naturales.
        </p>
      </div>
    </div>
  </div>
</section>
